<h2 class="cookbook_title"><%= @cookbook.title %></h2>
<p>
  <%= link_to "edit", "/cookbooks/#{@cookbook.id}/edit" %>
</p>
<p class="cookbook_description">
  <%= @cookbook.description %>
</p>
<h3>Recipes</h3>
<%= render partial: "recipes/recipeform", locals: { recipe_local: @recipe, cookbook_id: @cookbook.id }%>
<ul class="recipes">
  <% @cookbook.recipes.order(id: :desc).each do |recipe| %>
    <li class="recipe">
      <h4><%= recipe.title %></h4>
      <p>
        <%= link_to "show", "/recipes/#{recipe.id}" %> |
        <%= link_to "edit", "/recipes/#{recipe.id}/edit" %>
      </p>
    </li>
  <% end %>
</ul>
